START
PUSHS "Expoente: "
WRITES
READ
ATOI
STOREG 0
PUSHG 0
WRITEI
PUSHS "Numero: "
WRITES
READ
ATOI
STOREG 1
PUSHG 1
WRITEI
PUSHG 1
STOREG 2
l0c: NOP
PUSHG 0
PUSHI 1
SUP
JZ l0f
PUSHG 2
PUSHG 1
MUL
STOREG 2
PUSHG 0
PUSHI 1
SUB
STOREG 0
JUMP l0c
l0f: NOP
PUSHS "\nResultado: "
WRITES
PUSHG 2
WRITEI
STOP
